<!-- Show loading indicator while data is being fetched -->
<div *ngIf="!(unit$ | async) && !(reviews$ | async); else content">
  <p>Loading...</p>
</div>

<ng-template #content>
  <div class="review-component-wrapper">
    <div *ngIf="unit$ | async as unit; else noUnit">
      <h1>{{ unit.name }}</h1>
      <h2>({{ unit.code }})</h2>

      <div class="reviews-container">
        <div *ngFor="let review of reviews$ | async" class="review-card">
          <p>{{ review.content }}</p>
          <p>Rating: {{ review.score }}/10</p>
          <p>{{ review.createdAt | date : "longDate" }}</p>
        </div>
      </div>

      <!-- Review form -->
      <form
        class="reviewForm"
        [formGroup]="reviewForm"
        (ngSubmit)="submitReview()"
      >
        <textarea
          formControlName="reviewContent"
          placeholder="Write your review"
        ></textarea>
        <input
          type="number"
          formControlName="reviewScore"
          placeholder="Rate the unit"
          min="1"
          max="10"
        />
        <button type="submit" [disabled]="reviewForm.invalid">
          Submit Review
        </button>
      </form>
    </div>
  </div>

  <!-- Show a fallback if the unit is not found -->
  <ng-template #noUnit>
    <p>Unit not found.</p>
  </ng-template>
</ng-template>
