<div class="homepage-hero">
  <div class="logo-wrapper">
    <img src="/logo.png" alt="rate-my-professors-logo" class="hero__image" />
  </div>
  <div class="hero__header">
    <h1 class="hero__header__text">Find a unit</h1>
  </div>
  <div class="seach_wrapper">
    <div class="search-input-container">
      <form
        [formGroup]="searchForm"
        class="searchBar"
        (ngSubmit)="onSearchSubmit()"
      >
        <input
          type="text"
          placeholder="Unit Name"
          formControlName="searchValue"
          class="searchInput"
        />
      </form>
      <div class="unitsTable">
        <div *ngIf="units.length === 0"></div>
        <div *ngFor="let unit of units">
          <div class="unit">
            <a [routerLink]="['/unit', unit.id]">
              {{ unit.code }} - {{ unit.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homepage-main">
  <div class="homepage-header">
    <h2>Join the RMU Family</h2>
    <span>Love RMU? Let's make it official.</span>
  </div>
  <div class="homepage-card-family">
    <div class="homepage__card">
      <img src="/pencil-lady.svg" alt="" class="homepage-card-image" />
      <span class="homepage-card-undertext">Manage and edit your ratings</span>
    </div>
    <div class="homepage__card">
      <img src="/mystery-lady.svg" alt="" class="homepage-card-image" />
      <span class="homepage-card-undertext"
        >Your ratings are always anonymous</span
      >
    </div>
    <div class="homepage__card">
      <img src="/thumb-war.svg" alt="" class="homepage-card-image" />
      <span class="homepage-card-undertext">Like or dislike ratings</span>
    </div>
  </div>
</div>
