.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.header {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
