<div class="header__wrapper">
  <header class="header">
    <div class="header__logodiv">
      <img src="/instagram.svg" alt="" />
      <img src="/twtter.svg" alt="" />
      <img src="/tiktok.svg" alt="" />
    </div>

    <a [routerLink]="['/']">
      <button class="home-button">Back To Home</button>
    </a>

    <ul class="header__list" *ngIf="authService.currentUserSignal() == null">
      <div class="header__buttons">
        <li>
          <a [routerLink]="['/login']">
            <button class="login-button">Login</button>
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']">
            <button class="register-button">Register</button>
          </a>
        </li>
      </div>
    </ul>
    <div *ngIf="authService.currentUserSignal()">
      {{ authService.currentUserSignal()?.username }}
      <button (click)="logout()">Logout</button>
    </div>
  </header>
</div>
