<div class="header__wrapper">
  <header class="header">
    <div class="header__logodiv">
      <img src="/instagram.svg" alt="" />
      <img src="/twtter.svg" alt="" />
      <img src="/tiktok.svg" alt="" />
    </div>

    <a [routerLink]="['/']"> Home </a>

    <ul class="header__list">
      <div class="header__buttons">
        <li>
          <a [routerLink]="['/login']">
            <button>Login</button>
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']">
            <button>Register</button>
          </a>
        </li>
        <li>
          <button (click)="logout()">Logout</button>
        </li>
      </div>
    </ul>
  </header>
</div>
