.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  border-bottom: 5px solid black;
}

.header {
  padding-top: 1.5%;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 15%;
}

.header__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.login-button {
  background-color: white;
  border-radius: 25px;
  padding: 10%;
  cursor: pointer;
}

.register-button {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10%;
  cursor: pointer;
}

.home-button {
  background-color: red;
  color: white;
  border-radius: 25px;
  padding: 2.5%;
}
